h1{
    color:aliceblue;
    text-align: center;

}
body{
    background-color:darkslateblue;
}
form {
    
    text-align: center;
    font-size: 25px;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  img.avatar {
    width: 50%;
    border-radius: 50%;
  }
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  label{
color:aliceblue;
  }

  .container {
    padding: 10px 40% ;
  }